.type {
  display: flex;
  gap: 5px;

  button {
    padding: 30px 52px;
    height: 28px;
    border: 2px solid #000;
    background: #fff;
    color: #000;  
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.25s ease;
    width: 80px;
    margin-bottom: 5px;

    &:hover {
      background: #000;
      color: #fff;
    }

    &.active {
      background: #000;
      color: #fff;
    }
  }
}
form {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

  input {
    padding: 18px 16px;
    border: 2px solid #ffffff;
    background: #fff;
    border-radius: 8px;
    font-size: 12px;
    width: 180px;
    height: 18px;
   
    transition: all 0.2s ease;

    &::placeholder {
      color: #666;
    }

    &:focus {
      border-color: #ffffff;
      background: #f2f2f2;
      outline: none;
    }
  }

  button {
    padding: 16px 44px;
    width: 100px;
    height: 28px;
    background: #bd942e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background: #333;
    }
  }
}