@import './responsive.scss';


.layout{
          background-color: aqua;
          height: auto;
                    overflow-x: hidden;
                    overflow-y: auto;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          padding-left: 20px;
          padding-right: 20px;
          @include lg{
          background-color: green;
          display: flex;
          flex-direction: column;
}
@include md{
          background-color: rgb(255, 255, 255);
}
@include sm{
          background-color: black;
}


}
.Content{
          flex: 1;
          background-color: rgb(255, 255, 255);
}
