// _variables.scss

$primary-color: #f7c948;
$secondary-color: #1e4ed8;
$accent-color: #22c55e;

$background-color: #f5f7fa;
$card-bg: #ffffff;

$text-primary: #111111;
$text-secondary: #555555;
$border-color: #e5e7eb;