*{
          padding:0;
          margin:0;
          box-sizing: border-box;
         
}
h1{
          text-decoration: none;
          color: inherit;
}
body{
          font-family: "lato", sans-serif;
          overflow: hidden;
}