.HomePage {
          display: flex;
          background-color: whitesmoke;
          height: 100%;

          .textContainer{
                    flex: 3;
                    

          }
          .imageContainer{
                    flex: 2;


          }
          img{
                    width: 500px;
          }
          .Wrapper{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    height: 100%;
                     padding-left: 50px;

                    .MainHeader{
                              font-size: 40px;
                              margin-top: 140px;
                             
                    }
          }
          .Boxes{
                    display: flex;
                    justify-content: left;
                    gap: 50px;
                    
                    .Number{
                              font-size: 30px;
                    }
                    .Description{
                              font-size: 15px;
                              color: gray;
                              font-weight: 200;
                    }
          }
}