.ListPage{
          display: flex;
          height: 100%;
          flex: 3;
}
.wrapper{
          padding-right: 50px;
          display: flex;
          flex-direction: column;
          gap: 50px;
          overflow-y: scroll;
}