@mixin sm{
          @media (max-width: 738px) {
          @content;
          }
}

@mixin md{
          @media (min-width: 1024px)  {
          @content;
          }
}
@mixin lg{
          @media (min-width: 1336px) {
          @content;
          }
}